$color-light-orange: #FFC57B;
$color-dark-orange: #FFB454;
$color-darker-orange: #FFA533;

$color-light-blue: #23263C;
$color-dark-blue: #1F2336;

$color-linkedin: #2867B2;

$bp-bigest: 125em;
$bp-largest: 75em;
$bp-larger: 62em;
$bp-large: 48em;
$bp-medium: 36em;
$bp-small: 25.875em;


@font-face {
    font-family: 'hk_groteskbold';
    src: url('hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk_groteskmedium';
    src: url('hkgrotesk-medium-webfont.woff2') format('woff2'),
         url('hkgrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk_groteskregular';
    src: url('hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'hk_grotesksemibold';
    src: url('hkgrotesk-semibold-webfont.woff2') format('woff2'),
         url('hkgrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    

    100% {
        opacity: 1;
        transform: translate(0);
    }
}



* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: $color-dark-blue;
}

 // HEADER SECTION 

 .section__header-cv {
    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}

.section__header-cv:link,
.section__header-cv:visited
 {
    text-decoration: none;
    border: 1px solid #FFC57B;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: white;
    transition: all .2s;
    position: relative;
}

.section__header-cv:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(255, 252, 252, 0.2);
    background-color: $color-darker-orange;
    border: 1px solid $color-darker-orange;
    color: $color-dark-blue;

}

.section__header-cv:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255, 252, 252, 0.2);
}



.section__header {
    background-color: #1F2336;
    color: white;

    // NAV-BAR

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1F2336;
        padding: 3rem;
        color: white;

        

        
    }

    &-logo {
        height: 4rem;
    }

    &-list {
        margin-left: auto;
        
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
        

    }

    &-list ul {
        list-style: none;
        display: flex
    }

    &-list ul li {
        margin-right: 5rem;
        font-size: 1.5rem;
    }

    &-list ul li a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

    &-list ul li a:hover {
        color: $color-light-orange;
    }

    

// HERO BOX


    &-herobox {
       
        padding: 8rem 0;

        @media only screen and (max-width: $bp-small) {
            padding-left: 4rem;
            padding-right: 4rem;
        }

    }

    &-hello {
        
        color: #FFC57B;
        font-size: 4rem;
        background-image: linear-gradient(to right bottom, $color-light-orange, $color-dark-orange, $color-darker-orange);
        -webkit-background-clip: text;
        animation: moveInTop 1.5s ease-out;

        @media only screen and (max-width: $bp-larger) {
            font-size: 3.5rem;
        }
        @media only screen and (max-width: $bp-large) {
            font-size: 3rem;
        }
        @media only screen and (max-width: $bp-small) {
            font-size: 2.7rem;
        }

        
    }

    &-name {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 10rem;
        animation-name: moveInLeft;
        animation-duration: 3.5s;

        @media only screen and (max-width: $bp-larger) {
            font-size: 9rem;
        }

        @media only screen and (max-width: $bp-large) {
            font-size: 7.2rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 5rem;
        }
    }

    &-job {
        font-size: 3rem;
        animation: moveInBottom 3.5s ease-out;

        @media only screen and (max-width: $bp-larger) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: $bp-large) {
            font-size: 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            animation: moveInLeft 3.5s ease-out;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 3.4rem;
            margin-bottom: 2rem;
            margin-top: 1rem;
        }

        
    }

    &-imgbox {
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: $bp-medium) {
            display: flex;
            justify-content: center;
        }

    }

    &-img {
        height: 50rem;
        animation: moveInRight 3.5s ease-out;

        @media only screen and (max-width: $bp-larger) {
            height: 45rem;
        }

        @media only screen and (max-width: $bp-large) {
            height: 33rem;
        }

        @media only screen and (max-width: $bp-medium) {
            height: 40rem;
            animation: moveInLeft 3.5s ease-out;
        }
        
    }
}

////////////////////////// SECTION PROJECTS AND WORK EXPERIENCE

.section__projects {
    padding: 20rem 0;
    background-color: $color-light-blue;

    @media only screen and (max-width: $bp-small) {
        
        padding: 20rem 2rem 20rem 2rem ;
    }
}

.heading-secondary {
    color: white;

    & span {
        font-family: HK Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1.7rem;
        letter-spacing: -0.01em;
        background-image: linear-gradient(to right bottom, $color-light-orange, $color-dark-orange, $color-darker-orange);
        -webkit-background-clip: text;
        color: #FFC57B;

        @media only screen and (max-width: $bp-large) {
            font-size: 2.3rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
        }
        
    }

    & h2 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 4rem;
        line-height: 5.3rem;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        margin: .5rem 0 5rem 0;

        @media only screen and (max-width: $bp-large) {
            font-size: 3.8rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 3.5rem;
        }
    }
}





/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 30rem;
    height: 55rem;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-medium) {
        width: 52rem;
        margin-right: 0;
    }

    @media only screen and (max-width: $bp-small) {
        width: 36rem;
    }
  }


  .flip-card-inner:hover {
    transform: scaleX(1.1) scaleY(1.1);
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  /* Position the front and back side */
  .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: $color-dark-blue;
    color: black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;

    

    &__img-1 {
        background-image: url(../img/Nnnnatures-img.png);
        height: 23rem;
        background-size: cover;
        border-radius: 1rem;
        background-position: center;
    }

    &__img-2 {
        background-image: url(../img/trillo-img.png);
        height: 23rem;
        background-size: cover;
        border-radius: 1rem;
        background-position: center;
    }

    &__img-3 {
        background-image: url(../img/budget-img.png);
        height: 23rem;
        background-size: cover;
        border-radius: 1rem;
        background-position: center;
    }

    &__img-4 {
        background-image: url(../img/Amazon-img.png);
        height: 23rem;
        background-size: cover;
        border-radius: 1rem;
        background-position: center;
    }

    
  }
  
 

  .flip-card-front__details {
      text-align: left;
      padding: 4rem 1.5rem 4rem 1.5rem;

      & h3 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: #FFFFFF;
      }


  }

  .p-details {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #FFC57B;
  }

  .p-details-1 {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
  }


  .flip-card-front__btn {
      display: flex;
      justify-content: flex-start;
      margin-left: 1.5rem;
  }
  



  .flip-btn:link,
  .flip-btn:visited
     {
        text-decoration: none;
        background-color: $color-dark-orange;
        padding: .5rem 3rem;
        font-size: 1.5rem;
        color: $color-dark-blue;
        border-radius: 50px;
        transition: all .2s;
        position: relative;
    }

    .flip-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(255, 252, 252, 0.2);
        background-color: $color-darker-orange;
        color: $color-dark-blue;
        border-radius: 50px;
        color: $color-dark-blue;
    
    }

    .flip-btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(255, 252, 252, 0.2);

    }


    .flip-btn::after {

        content: "";
        display: inline-block;
        background-color: $color-darker-orange;
        color: $color-dark-blue;
        border-radius: 50px;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    .flip-btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }



    //////////////////////////////// SECTION EDUCATION AND STUDY 
.section__education {
    background-color: #1F2336;
    padding: 20rem 0;

    @media only screen and (max-width: $bp-small) {
        
        padding: 20rem 2rem 20rem 2rem ;
    }
    

    &-study-1 {
        color: white;
        background-color: #313551;
        padding: 3.5rem 2.5rem;
        transition: all .5s ease-in-out;
    }

    &-study-1:hover {
        transform: scaleX(1.01) scaleY(1.1);
        
    }

    &-study-p {
        color: $color-light-orange;
        font-style: normal;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: -0.01em;

    }

    &-study-title {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: 0.001em;
        color: #FFFFFF;

    }
}

.col-box-study {
    margin-bottom: 1.5rem;
}

//////////////////////////////// SECTION ABOUT ME 

.section__about {
    background-color: $color-light-blue;
    padding: 20rem 0;

    @media only screen and (max-width: $bp-small) {
        
        padding: 20rem 2rem 20rem 2rem ;
    }

    

    &-p {
        font-family: HK Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        text-align: justify;

        @media only screen and (max-width: $bp-large) {
            margin-bottom: 5rem;
        }

    }
} 

.about__btn-box {
    margin-top: 4rem!important;
    height: 10rem;
    display: flex;
    align-items: center;
}

.about__btn:link,
.about__btn:visited {
    text-decoration: none;
    padding: 1rem 3rem;
    background-color: $color-dark-orange;
    border-radius: .5rem;
    color: #313551;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1px;
}

.about__btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(255, 252, 252, 0.2);
    background-color: $color-darker-orange;
    color: $color-dark-blue;
    border-radius: .5rem;
}

.about__btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255, 252, 252, 0.2);
}


.about__btn::after {

    content: "";
    display: inline-block;
    background-color: $color-darker-orange;
    color: $color-dark-blue;
    border-radius: .5rem;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.about__btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}



//////////////////////////////// SECTION CONTACT ME 

.section__contact {
    padding: 25rem 0;
    background-color: $color-dark-blue;

    & a {
        text-decoration: none;
    }

    @media only screen and (max-width: $bp-small) {
        
        padding: 20rem 2rem 20rem 2rem ;
    }

    &-box {
        background-color: $color-light-blue;
        border: 1px solid $color-light-orange;
        border-radius: 1rem;
        margin-bottom: 2rem;
        padding: 3rem;
        cursor: pointer;

        @media only screen and (max-width: $bp-medium) {
            padding: 1.5rem 3rem;
        }

        & h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 53px;
            margin-top: 2rem;
            letter-spacing: -0.01em;
            color: #FFFFFF;
            font-family: 'Playfair Display', serif;

            @media only screen and (max-width: $bp-larger) {
                font-size: 3rem;
            }
        }

        & p {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.01em;
            color: $color-light-orange;
        }

    }
}

.linkedin:hover {
    background-color: $color-linkedin;
    border: 1px solid $color-linkedin;
}

.instagram:hover {
    background: #d6249f;
    background: linear-gradient(to right bottom, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.facebook:hover {
    background-color: #1878f2;
    border: 1px solid #1878f2;
}

.twitter:hover {
    background-color: #1D9BF0;
    border: 1px solid #1D9BF0;
}

.medium:hover {
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
}

.email:hover {
    background-color: white;
    border: 1px solid white;

    & h4 {
        color: #DD4F43;
    }
}


//////////////////////////////// FOOTER

.section__footer {
    padding: 15rem;
    background-color: $color-light-blue;
    color: white;


    & h5 {
        text-align: center;
        margin-top: 3rem;
        font-size: 2rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.5rem;
        }
    }

}

.footer__box-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
        display: flex;
        align-items: center;
        height: 10rem;
        
        flex-direction: column;
        justify-content: space-between;
    }
    

 

    & img {
        height: 3.5rem;

        @media only screen and (max-width: $bp-large) {
            height: 3rem;
        }

        @media only screen and (max-width: $bp-medium) {
            height: 2.5rem;
        }
        
        
    }

    & h5 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: -0.01em;
        color: #FFFFFF;

        @media only screen and (max-width: $bp-large) {
            font-size: 3rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
        }
    }

    

    & a:link,
    & a:visited {
        padding: 1rem 3rem;
        color: white;
        border: 1px solid $color-light-orange;
        font-size: 1.4rem;
        text-decoration: none;

        @media only screen and (max-width: $bp-large) {
            font-size: 1rem;
            padding:  1rem 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            padding: 1rem 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            display: none;
        }


    }


    & a:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(255, 252, 252, 0.2);
        background-color: $color-darker-orange;
        color: $color-dark-blue;
        border-radius: .5rem;
    }
}

.footer__nav {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    & ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & li {
            list-style: none;
            padding: 1rem 3rem;
            font-size: 2rem;

            @media only screen and (max-width: $bp-medium) {
                font-size: 1.5rem;
            }

            @media only screen and (max-width: $bp-small) {
                padding: 1rem 1.8rem;
            }

            & a {
                text-decoration: none;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.navigation {

    @media only screen and (max-width: $bp-bigest) {
        display: none;    
    }

    @media only screen and (max-width: $bp-largest) {
        display: none;    
    }

    @media only screen and (max-width: $bp-larger) {
        display: none;    
    }


    @media only screen and (max-width: $bp-medium) {
        display: block;    
    }

    &__checkbox {
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }

    }

    &__button {
        @media only screen and (max-width: $bp-medium) {
            background-color: white;
            height: 4rem;
            width: 4rem;
            position: fixed;
            top: 3rem;
            right: 3rem;
            border-radius: 50%;
            z-index: 2000;
            box-shadow: 0 1rem 3rem rgba(white, .1);
            text-align: center;
            cursor: pointer;
        }
        
    }

    &__background {

        @media only screen and (max-width: $bp-medium) {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            position: fixed;
            top: 3.5rem;
            right: 3.5rem;
            background-image: radial-gradient($color-light-orange, $color-dark-orange, $color-darker-orange);
            z-index: 1000;
            transition: transform .9s cubic-bezier(0.06, 0, 0.07, 1);
            //transform: scale(80);
        }
        
    }

    &__nav {
        

        @media only screen and (max-width: $bp-medium) {
            height: 100vh;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1500;
            opacity: 0;
            width: 0;
            transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }

    &__list {
        
        @media only screen and (max-width: $bp-medium) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            list-style: none;
            text-align: center;
            width: 100%;
            
        }
    }

    &__item {
        
        @media only screen and (max-width: $bp-medium) {
            margin: 1rem;
        }
    }

    &__link {


        &:link,
        &:visited {
        
            @media only screen and (max-width: $bp-medium) {
                font-size: 2rem;
                font-weight: 300;
                padding: 1rem 2rem;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
                background-size: 230%;
                transition: all .4s;
                display: inline-block;

             }
        }

        &:hover,
        &:active {

            @media only screen and (max-width: $bp-medium) {
                background-position: 100%;
                color: $color-dark-blue;
                
             }
        }
    }
    
    
    &__checkbox:checked ~ &__background {

        @media only screen and (max-width: $bp-medium) {
            transform:scale(80)
        }
        
    }

    &__checkbox:checked ~ &__nav {

        @media only screen and (max-width: $bp-medium) {
            opacity: 1;
            width: 100%;
        }
        
        
    }

    &__icon {

        position: relative;
        margin-top: 2rem;

        &,
        &::before,
        &::after {
            width: 1.8rem;
            height: 2px;
            background-color: $color-dark-blue;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
       
        &::before {
            top: -.7rem;
        }

        &::after {
            top: .7rem;
        }

    }


    &__button:hover &__icon::before {
        @media only screen and (max-width: $bp-medium) {
            top: -.8rem;
        }
    }

    &__button:hover &__icon::after {
        @media only screen and (max-width: $bp-medium) {
            top: .8rem;
        }
    }

    &__checkbox:checked + &__button &__icon {

        @media only screen and (max-width: $bp-medium) {
            background-color: transparent;
        }
        

    }

    &__checkbox:checked + &__button &__icon::before {
        @media only screen and (max-width: $bp-medium) {
            top: 0;
            transform: rotate(135deg);
        }
    }

    &__checkbox:checked + &__button &__icon::after {
        @media only screen and (max-width: $bp-medium) {
            top: 0;
            transform: rotate(-135deg);
        }
    }


}

.navigation__link-cv:link,
.navigation__link-cv:visited {


    @media only screen and (max-width: $bp-medium) {
        text-decoration: none;
        color: white;
        background-color: $color-dark-blue;
        padding: 1rem 2rem;
        
        font-size: 2rem;
        font-weight: 300;
        position: absolute;
        top: 65%;
        left: 52%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        background-image: linear-gradient(110deg, transparent 0%, transparent 50%, white 50%);
        background-size: 230%;
        transition: all .4s;
        display: inline-block;
     }


    
}

.navigation__link-cv:hover,
.navigation__link-cv:active {

    @media only screen and (max-width: $bp-medium) {
        background-position: 100%;
        color: $color-dark-blue;
        
    }
                

}